<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>あなたの関係者一覧</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/yggdrasill.css" rel="stylesheet" type="text/css">
</head>
<body>
<br><br>
<div id="concerned">
<concernededit></concernededit>
</div>
<!-- load files -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/concerned-db_edit.js"></script>
<!-- load files -->
</body>
</html>