<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>あなたの関係者一覧</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/yggdrasill.css" rel="stylesheet" type="text/css">
</head>
<body>
<br><br>
<div class="container">
  <form id="concerned_form" action="/concernedList"  method="post">
    <div class="form-group">
      <label class="control-label" for="concern">あなたの関係者のメンション設定更新</label>
      <center><br><br>
      <li><input type="text" id="nickname" class="form-control" placeholder="Nickname" ng-model="task" name ="title" required></li>
      <li><input type="text" id="partner_user_id" class="form-control" placeholder="関係者のID" ng-model="task" name ="title" required></li>
      <li><input type="text" id="at_name" class="form-control" placeholder="@name" ng-model="target" name="action_to"></li>
      <br>
        <div class="form-group">
          <input type="submit" value="更新" class="btn btn-primary">
        </div>
      </center>
      <br><br>
      <label class="control-label" for="concern">あなたの関係者のメンション設定一覧</label>
    </div>
    <div id="concerned">
      <concerned></concerned>
    </div>
  </form>
</div>

<!-- load files -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/concerned-db.js"></script>
<!-- load files -->
</body>
</html>