<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/ >
  </head>

  <body ng-controller="MyController">
      <div id="header" class="container">
          <nav class="navbar navbar-default navbar-fixed-top">
              <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="">Yggdrasill</a>
              </div>
              <div class="collapse navbar-collapse target">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="">Docs</a></li>
              </ul>
              <ul class="nav navbar-nav" style="margin-left:20px;">
                  <form action="/search" id="topbar_search" class="form pull-left enable-incremental-lesson-search" onsubmit="if ($(this).find('.q').val() === '') { return false; }">
                      <div class="input-append" style="padding:8px 0 0 0;">
                          <div class="btn-group">
                              <input type="text" class="btn" placeholder="today, weekly, ..."  value="" autocomplete="off">
                              <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
                  <li>
                      <a data-toggle="modal" href="#myModal1">Add Task</a>
                      <div class="modal fade" id="myModal1">
                          <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <button class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Something</h4>
                              </div>
                              <div class="modal-body">
                                  <ul class="nav nav-tabs">
                                  <li><a href="#Action" data-toggle="tab">Action</a></li>
                                  <li class="active"><a href="#Session" data-toggle="tab">Session</a></li>
                                    <li><a href="#Transaction" data-toggle="tab">Transaction</a></li>
                                  </ul>
                                  <!-- タブ内容 -->
                                  <div class="tab-content">
                                        <div class="tab-pane" id="Action">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <ul class="form-group">
                                                  <label class="control-label" for="task">アクションの内容</label>
                                                  <li><input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required></li>
                                                  <li><input type="text" id="target" class="form-control" placeholder="相手先" ng-model="target" name="action_to"></li><br>
                                                <!-- <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div> -->
                                                <!-- <div class="col-sm-8"> --->
                                                <div class="form-group">
                                                <label class="control-label" for="limit1">期限</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start" name = "start_date"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="完了期限" ng-model="end" name = "finish_date"></li><br>
                                                </div>
                                                <!-- </div>
                                                </div> --->
                                                <div class="form-group">
                                                <label class="control-label" for="limit1">繰り返し設定</label>
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="checkboxA"> 毎月
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkboxB"> 毎週
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkboxC"> 毎日
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="checkbox1"> 月曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox2"> 火曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox3"> 水曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox4"> 木曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox5"> 金曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox6"> 土曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox7"> 日曜
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label class="control-label" for="incharge">担当者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge" name = "assigned_to_user">
                                                  <input type="hidden" name="done" value="0"><!-- タスクの完了状態についてのデータ；未完了が0で完了が1（SO） --->
                                                </div>
                                                <div class="form-group">
                                                <label class="control-label" for="incharge">メモ</label><br>
                                                  <textarea name="memo" rows="4" cols="40" placeholder="アクションの補足などを入力します" class="form-control" id="InputTextarea"></textarea><!-- メモの入力欄；rowsで行数指定、colsで１行の字数指定できる(SO) --->
                                                </div>
                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                        <div class="tab-pane active" id="Session">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <div class="form-group">
                                                  <label class="control-label" for="task">セッションのゴール</label>
                                                  <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div>
                                                </div>
                                                <div class="col-sm-8">
                                                <ul class="form-group">
                                                <label class="control-label" for="limit1">期間</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
                                                </ul>
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label class="control-label" for="incharge">責任者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
                                                </div>

                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                        <div class="tab-pane" id="Transaction">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <div class="form-group">
                                                  <label class="control-label" for="task">トランザクションのビジョン</label>
                                                  <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
                                                </div>

                                                <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div>
                                                </div>
                                                <div class="col-sm-8">
                                                <ul class="form-group">
                                                <label class="control-label" for="limit1">期間</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
                                                </ul>
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label class="control-label" for="incharge">統括責任者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
                                                </div>

                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary">OK!</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <a data-toggle="modal" href="#myModal2">Add Project</a>
                      <div class="modal fade" id="myModal2">
                          <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <button class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">My Modal</h4>
                              </div>
                              <div class="modal-body">
                                  aaaaa
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary">OK!</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Notification <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Setting <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
              </ul>
              </div>
          </nav>
      </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-sm-2 hidden-xs" style="background:khaki;">
          <div class="menu">カレンダー</div>
          <div class="menu">グループ</div>
          <div class="menu">プロジェクト</div>
        </div>
        <div class="col-sm-10" style="background:white;">
          <form id="aForm" action="/"  method="post">
            <div class="form-group">
              <label class="control-label" for="task">task</label>
              <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
            </div>
            <ul class="form-group">
              <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
              <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
            </ul>
            <div class="form-group">
              <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
            </div>
            <div class="form-group">
              <input type="submit" value="登録" class="btn btn-primary">
            </div>
          </form>


            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">タスク:{{task}}</div>
  <!--            <p>{{myLimit}}</p> -->
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">開始可能日時:{{start}}</div>
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">延期不能日時:{{end}}</div>
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">割当先:{{incharge}}</div>
            </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container" style="background:palegreen;">footer</div>

    <script src="js/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="js/jquery.datetimepicker.full.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controller.js"></script>
    <!-- <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
    <script src="js/date.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/moment-with-locales.js"></script>


<script type="text/javascript">
$(function(){
$('#limit0').datetimepicker({ dateFormat: 'yy-mm-dd' });
$('#limit1').datetimepicker({ dateFormat: 'yy-mm-dd' });
$('#limit2').datetimepicker({ dateFormat: 'yy-mm-dd' });

    });
</script>
  </body>
</html>
<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/ >
  </head>

  <body ng-controller="MyController">
      <div id="header" class="container">
          <nav class="navbar navbar-default navbar-fixed-top">
              <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="">Yggdrasill</a>
              </div>
              <div class="collapse navbar-collapse target">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="">Docs</a></li>
              </ul>
              <ul class="nav navbar-nav" style="margin-left:20px;">
                  <form action="/search" id="topbar_search" class="form pull-left enable-incremental-lesson-search" onsubmit="if ($(this).find('.q').val() === '') { return false; }">
                      <div class="input-append" style="padding:8px 0 0 0;">
                          <div class="btn-group">
                              <input type="text" class="btn" placeholder="today, weekly, ..."  value="" autocomplete="off">
                              <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
                  <li>
                      <a data-toggle="modal" href="#myModal1">Add Task</a>
                      <div class="modal fade" id="myModal1">
                          <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <button class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Something</h4>
                              </div>
                              <div class="modal-body">
                                  <ul class="nav nav-tabs">
                                  <li><a href="#Action" data-toggle="tab">Action</a></li>
                                  <li class="active"><a href="#Session" data-toggle="tab">Session</a></li>
                                    <li><a href="#Transaction" data-toggle="tab">Transaction</a></li>
                                  </ul>
                                  <!-- タブ内容 -->
                                  <div class="tab-content">
                                        <div class="tab-pane" id="Action">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <ul class="form-group">
                                                  <label class="control-label" for="task">アクションの内容</label>
                                                  <li><input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required></li>
                                                  <li><input type="text" id="target" class="form-control" placeholder="相手先" ng-model="target" name="action_to"></li><br>
                                                <!-- <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div> -->
                                                <!-- <div class="col-sm-8"> --->
                                                <div class="form-group">
                                                <label class="control-label" for="limit1">期限</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start" name = "start_date"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="完了期限" ng-model="end" name = "finish_date"></li><br>
                                                </div>
                                                <!-- </div>
                                                </div> --->
                                                <div class="form-group">
                                                <label class="control-label" for="limit1">繰り返し設定</label>
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="checkboxA"> 毎月
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkboxB"> 毎週
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkboxC"> 毎日
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="checkbox1"> 月曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox2"> 火曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox3"> 水曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox4"> 木曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox5"> 金曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox6"> 土曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox7"> 日曜
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label class="control-label" for="incharge">担当者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge" name = "assigned_to_user">
                                                  <input type="hidden" name="done" value="0"><!-- タスクの完了状態についてのデータ；未完了が0で完了が1（SO） --->
                                                </div>
                                                <div class="form-group">
                                                <label class="control-label" for="incharge">メモ</label><br>
                                                  <textarea name="memo" rows="4" cols="40" placeholder="アクションの補足などを入力します" class="form-control" id="InputTextarea"></textarea><!-- メモの入力欄；rowsで行数指定、colsで１行の字数指定できる(SO) --->
                                                </div>
                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                        <div class="tab-pane active" id="Session">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <div class="form-group">
                                                  <label class="control-label" for="task">セッションのゴール</label>
                                                  <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div>
                                                </div>
                                                <div class="col-sm-8">
                                                <ul class="form-group">
                                                <label class="control-label" for="limit1">期間</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
                                                </ul>
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label class="control-label" for="incharge">責任者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
                                                </div>

                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                        <div class="tab-pane" id="Transaction">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <div class="form-group">
                                                  <label class="control-label" for="task">トランザクションのビジョン</label>
                                                  <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
                                                </div>

                                                <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div>
                                                </div>
                                                <div class="col-sm-8">
                                                <ul class="form-group">
                                                <label class="control-label" for="limit1">期間</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
                                                </ul>
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label class="control-label" for="incharge">統括責任者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
                                                </div>

                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary">OK!</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <a data-toggle="modal" href="#myModal2">Add Project</a>
                      <div class="modal fade" id="myModal2">
                          <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <button class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">My Modal</h4>
                              </div>
                              <div class="modal-body">
                                  aaaaa
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary">OK!</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Notification <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Setting <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
              </ul>
              </div>
          </nav>
      </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-sm-2 hidden-xs" style="background:khaki;">
          <div class="menu">カレンダー</div>
          <div class="menu">グループ</div>
          <div class="menu">プロジェクト</div>
        </div>
        <div class="col-sm-10" style="background:white;">
          <form id="aForm" action="/"  method="post">
            <div class="form-group">
              <label class="control-label" for="task">task</label>
              <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
            </div>
            <ul class="form-group">
              <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
              <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
            </ul>
            <div class="form-group">
              <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
            </div>
            <div class="form-group">
              <input type="submit" value="登録" class="btn btn-primary">
            </div>
          </form>


            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">タスク:{{task}}</div>
  <!--            <p>{{myLimit}}</p> -->
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">開始可能日時:{{start}}</div>
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">延期不能日時:{{end}}</div>
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">割当先:{{incharge}}</div>
            </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container" style="background:palegreen;">footer</div>

    <script src="js/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="js/jquery.datetimepicker.full.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controller.js"></script>
    <!-- <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
    <script src="js/date.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/moment-with-locales.js"></script>


<script type="text/javascript">
$(function(){
$('#limit0').datetimepicker({ dateFormat: 'yy-mm-dd' });
$('#limit1').datetimepicker({ dateFormat: 'yy-mm-dd' });
$('#limit2').datetimepicker({ dateFormat: 'yy-mm-dd' });

    });
</script>
  </body>
</html>
<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/ >
  </head>

  <body ng-controller="MyController">
      <div id="header" class="container">
          <nav class="navbar navbar-default navbar-fixed-top">
              <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="">Yggdrasill</a>
              </div>
              <div class="collapse navbar-collapse target">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="">Docs</a></li>
              </ul>
              <ul class="nav navbar-nav" style="margin-left:20px;">
                  <form action="/search" id="topbar_search" class="form pull-left enable-incremental-lesson-search" onsubmit="if ($(this).find('.q').val() === '') { return false; }">
                      <div class="input-append" style="padding:8px 0 0 0;">
                          <div class="btn-group">
                              <input type="text" class="btn" placeholder="today, weekly, ..."  value="" autocomplete="off">
                              <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
                  <li>
                      <a data-toggle="modal" href="#myModal1">Add Task</a>
                      <div class="modal fade" id="myModal1">
                          <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <button class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Something</h4>
                              </div>
                              <div class="modal-body">
                                  <ul class="nav nav-tabs">
                                  <li><a href="#Action" data-toggle="tab">Action</a></li>
                                  <li class="active"><a href="#Session" data-toggle="tab">Session</a></li>
                                    <li><a href="#Transaction" data-toggle="tab">Transaction</a></li>
                                  </ul>
                                  <!-- タブ内容 -->
                                  <div class="tab-content">
                                        <div class="tab-pane" id="Action">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <ul class="form-group">
                                                  <label class="control-label" for="task">アクションの内容</label>
                                                  <li><input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required></li>
                                                  <li><input type="text" id="target" class="form-control" placeholder="相手先" ng-model="target" name="action_to"></li><br>
                                                <!-- <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div> -->
                                                <!-- <div class="col-sm-8"> --->
                                                <div class="form-group">
                                                <label class="control-label" for="limit1">期限</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start" name = "start_date"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="完了期限" ng-model="end" name = "finish_date"></li><br>
                                                </div>
                                                <!-- </div>
                                                </div> --->
                                                <div class="form-group">
                                                <label class="control-label" for="limit1">繰り返し設定</label>
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="checkboxA"> 毎月
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkboxB"> 毎週
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkboxC"> 毎日
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="checkbox1"> 月曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox2"> 火曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox3"> 水曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox4"> 木曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox5"> 金曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox6"> 土曜
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" value="checkbox7"> 日曜
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <label class="control-label" for="incharge">担当者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge" name = "assigned_to_user">
                                                  <input type="hidden" name="done" value="0"><!-- タスクの完了状態についてのデータ；未完了が0で完了が1（SO） --->
                                                </div>
                                                <div class="form-group">
                                                <label class="control-label" for="incharge">メモ</label><br>
                                                  <textarea name="memo" rows="4" cols="40" placeholder="アクションの補足などを入力します" class="form-control" id="InputTextarea"></textarea><!-- メモの入力欄；rowsで行数指定、colsで１行の字数指定できる(SO) --->
                                                </div>
                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                        <div class="tab-pane active" id="Session">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <div class="form-group">
                                                  <label class="control-label" for="task">セッションのゴール</label>
                                                  <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div>
                                                </div>
                                                <div class="col-sm-8">
                                                <ul class="form-group">
                                                <label class="control-label" for="limit1">期間</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
                                                </ul>
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label class="control-label" for="incharge">責任者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
                                                </div>

                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                        <div class="tab-pane" id="Transaction">
                                            <br>
                                             <form id="aForm" action="/"  method="post">
                                                <div class="form-group">
                                                  <label class="control-label" for="task">トランザクションのビジョン</label>
                                                  <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
                                                </div>

                                                <div class="row">
                                                <div class="col-sm-4">
                                                <div class="form-group">
                                                  <label class="control-label" for="limit0">期限</label>
                                                  <input type="text" ng-model="myLimit0" id="limit0" class="form-control form0" placeholder="実行日" ng-model="end">
                                                </div>
                                                </div>
                                                <div class="col-sm-8">
                                                <ul class="form-group">
                                                <label class="control-label" for="limit1">期間</label>
                                                  <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
                                                  <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
                                                </ul>
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                <label class="control-label" for="incharge">統括責任者</label>
                                                  <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
                                                </div>

                                                <center>
                                                <div class="form-group">
                                                  <input type="submit" value="この内容で追加する" class="btn btn-primary">
                                                </div>
                                                </center>
                                              </form>
                                        </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary">OK!</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <a data-toggle="modal" href="#myModal2">Add Project</a>
                      <div class="modal fade" id="myModal2">
                          <div class="modal-dialog">
                              <div class="modal-content">
                              <div class="modal-header">
                                  <button class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">My Modal</h4>
                              </div>
                              <div class="modal-body">
                                  aaaaa
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-primary">OK!</button>
                              </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Notification <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
                  <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Setting <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="">Action</a></li>
                              <li><a href="">Action</a></li>
                              <li class="divider"></li>
                              <li><a href="">Action</a></li>
                          </ul>
                  </li>
              </ul>
              </div>
          </nav>
      </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-sm-2 hidden-xs" style="background:khaki;">
          <div class="menu">カレンダー</div>
          <div class="menu">グループ</div>
          <div class="menu">プロジェクト</div>
        </div>
        <div class="col-sm-10" style="background:white;">
          <form id="aForm" action="/"  method="post">
            <div class="form-group">
              <label class="control-label" for="task">task</label>
              <input type="text" id="task" class="form-control" placeholder="タスク" ng-model="task" name ="title" required>
            </div>
            <ul class="form-group">
              <li><input type="text" ng-model="myLimit1" id="limit1" class="form-control form1" placeholder="開始可能日時" ng-model="start"></li>
              <li><input type="text" ng-model="myLimit2" id="limit2" class="form-control form2" placeholder="延期不能日時" ng-model="end"></li>
            </ul>
            <div class="form-group">
              <input type="text" id="incharge" class="form-control" placeholder="割当先" ng-model="incharge">
            </div>
            <div class="form-group">
              <input type="submit" value="登録" class="btn btn-primary">
            </div>
          </form>


            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">タスク:{{task}}</div>
  <!--            <p>{{myLimit}}</p> -->
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">開始可能日時:{{start}}</div>
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">延期不能日時:{{end}}</div>
              <div class="col-sm-12 col-xs-12 col-md-12" style="background:khaki;">割当先:{{incharge}}</div>
            </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container" style="background:palegreen;">footer</div>

    <script src="js/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="js/jquery.datetimepicker.full.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controller.js"></script>
    <!-- <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
    <script src="js/date.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/moment-with-locales.js"></script>


<script type="text/javascript">
$(function(){
$('#limit0').datetimepicker({ dateFormat: 'yy-mm-dd' });
$('#limit1').datetimepicker({ dateFormat: 'yy-mm-dd' });
$('#limit2').datetimepicker({ dateFormat: 'yy-mm-dd' });

    });
</script>
  </body>
</html>
