<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div id="app">
      {{ message }}
    </div>

    <div id="test">
      <testform></testform>
    </div>



    <script src="js/jquery.js"></script>
    <script src="js/jquery.datetimepicker.full.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="vue.js"></script>
</body>
</html>
