<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
  </head>
  <body>
		<div id="app">
		  {{ message }}
		</div>
    <script src="https://unpkg.com/vue"></script>
  <!-- 必ずpublic/jsフォルダの中にあるvue.jsを書いたファイルをインポートすること。また、bodyタグの中でかつvue.jsのコードを書いた後ろでないと何故か動かない -->
    <script src="js/vue.js"></script>
  </body>
  </html>
