<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Yggdrasill</title>
</head>

<body>
	<div id="example">
  <my-component></my-component>
</div>


<body>
	<div id="example2">
  <my-component></my-component>
</div>



<!-- load script -->
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- load script -->
</body>


</html>
