<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Yggdrasill</title>
</head>

<body>

	<div id="example">
  	<my-component></my-component>
	</div>

	<div id="suggest">
  	<user-suggest></user-suggest>
	</div>

  <div id="tasks">
    <task-list></task-list>
  </div>

<!-- load files -->
  <script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="vue_app.js"></script>
  <script src="js/user-suggest.js"></script>
  <script src="js/task-list.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="./yggdrasill.css" rel="stylesheet" type="text/css">
<!-- load files -->
</body>


</html>
