<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </head>
  <body>
test
  </body>
  </html>
