<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yggdrasill</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./yggdrasill.css" rel="stylesheet" type="text/css">
  </head>

  <div id="taskList">
    <task-list></task-list>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/vue_temp.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="./yggdrasill.css" rel="stylesheet" type="text/css">

  </body>
  </html>
