<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/yggdrasil.css' />
  </head>
  <body>
    <h1>Welcome page</h1>
    <p>Yggdrasilへようこそ</p>
		<p><a href="signup">サインアップ</a></p>
		<p><a href="login">ログイン</a></p>
		<p><a href="../">ホーム</a></p>
  </body>
</html>
